<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Over Limit</title>
    <link th:replace="component::bootstrapCSS"/>
</head>
<body>
<nav th:replace="component::nav"></nav>

<h1>You used more than 100 requests per minute. Please wait some time and try again. </h1>

<footer th:replace="component::footer"></footer>
<script th:replace="component::jquery"></script>
<script th:replace="component::popperJS"></script>
<script th:replace="component::bootstrapJS"></script>
</body>
</html>